form {
    width: 100%
}
.form-fields-input{
    width: 100%;
}
mat-card-actions { 
    text-align: right;
}
mat-card {
    height: 53%;
    width: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    zoom: 100%;
}
button {
    margin : 2%
}
.form-actions {
    text-align: right;
}
.error {
    color: red;
}

@media only screen and (max-width: 600px) {
    mat-card {
        height: 90%;
        width: 90%;
        left: 50%;
        top: 55%;
        position: absolute;
        transform: translate(-50%, -50%);
        zoom: 100%;
    }
  }