<mat-card>
  <mat-card-header>
    <h1>Sign Up</h1>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="SignIn">
      <mat-form-field class="form-fields-input">
        <input matInput type="text" name="name" id="name" formControlName='name' placeholder="Enter the Name"/>
      </mat-form-field>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
      <mat-form-field class="form-fields-input">
        <input matInput type="text" name="email" id="email" formControlName='email' placeholder="Enter the Email"/>
      </mat-form-field>
      <div *ngIf='email.invalid && (email.dirty || email.touched)' class="error">
        <div *ngIf='email.errors.required'>Email is required</div>
      </div>
      <mat-form-field class="form-fields-input">
        <input matInput type="text" name="password" id="password" formControlName='password' placeholder="Enter the Password"/>
      </mat-form-field>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf='password.errors.required'>Enter the Password</div>
      </div>
      <mat-form-field class="form-fields-input">
        <input matInput type="text" name="mobile" id="mobile" formControlName='mobile' placeholder="Enter the Mobile Number"/>
      </mat-form-field>
      <div class="form-actions">
        <button mat-raised-button color='warn' (click)='back()'> Back </button>
        <button mat-raised-button color='primary' (click)='create()' [disabled]='!SignIn.valid'> Create </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>