<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list *ngIf='!loggedin'>
      <a mat-list-item routerLink="/signin">Login</a>
      <a mat-list-item routerLink="/signup">Sigin Up</a>
    </mat-nav-list>

    <mat-nav-list *ngIf='loggedin'>
      <a mat-list-item routerLink='/home/products'>Products</a>
      <a mat-list-item routerLink='/home/myproduct'>My Products</a>
      <a mat-list-item routerLink='/home/profile'>
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <a mat-list-item routerLink='/home/setting'>
        <mat-icon>settings</mat-icon>
        <span>Setting</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
        
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Resale</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
