<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span>Resale</span>
        <div class='toolbar-spacer' *ngIf='!loggedin'>
            <button mat-button routerLink='/'> Home </button>
            <button mat-button routerLink='/signin'> Sign in </button>
            <button mat-button routerLink='/signup'> Sign up </button>
        </div>
        <div class='toolbar-spacer' *ngIf='loggedin'>
            <button mat-button routerLink='/home/products'> Products </button>
            <button mat-button routerLink='/home/myproduct'> My Products </button>
            <button mat-icon-button routerLink='/home/profile'> 
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]='userMenu' >
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #userMenu='matMenu'>
                <button mat-menu-item routerLink='/home/setting'>
                    <mat-icon>settings</mat-icon>
                    <span>Setting</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
            
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>