<mat-card>
  <mat-card-header>
    <h1>Sign in </h1>
  </mat-card-header>
  <mat-card-content>
    <form #Signin='ngForm'>
      <mat-form-field class='form-fields-input'>
        <input matInput type='email' placeholder="Enter the Email" [(ngModel)]='user.email' id='email' #email='ngModel' name="email" required/>
      </mat-form-field>
      <div class="error" *ngIf="!email.pristine">
        <div *ngIf="!email.valid">Enter a Valid Email</div>
      </div>
      <mat-form-field class='form-fields-input'>
        <input matInput type="password" placeholder="Enter the Password" #password='ngModel' [(ngModel)]='user.password' name="password" required/>
      </mat-form-field>
      <div class="error" *ngIf="!password.pristine">
          <div *ngIf="!password.valid">Enter a Valid Password</div>
        </div>
      <div class='form-actions'>
        <button mat-raised-button color='warn' (click)='back()'>Back</button>
        <button mat-raised-button color='primary' (click)="signin()" [disabled]='!Signin.form.valid'>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>